.signup-form{
    background-color: lightgrey;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    position: relative;
    padding: 15px;
}
button[type="submit"]{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 85%;
    font-family: cursive;
    background-color: black;
    border-radius: 5px;
    color: white;
}
input[type = "text"]{
    width: 100%;
}
input[type = "password"]{
    width: 100%;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: medium;
}
